body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a{
    text-decoration: none;
}
h1{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px;
    color: #192b59;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}
.title-h2{
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.title-h2 span{
    display: block;
    font-size: 16px;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 14px;
}
.title-40{
    letter-spacing: -1.1px;
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
}
.title-40 span{
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
}
.page-stat .title-h2,.page-screen .title-h2{
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2{
    max-width: 500px;
}
.wrap{
    max-width: 1110px;
    margin: 0 auto;
}
.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}
.logo{
    display: block;
    width: 181px;
    height: 49px;
    background-image: url('../img/logo.png');
}
.nav{
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav>li{
    padding: 0 20px;
}
.nav-item{
    color: #6e7ea9;
    letter-spacing: 2px;
}
.screen-img{
    display: block;
    background-image: url(../img/header-sceen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}
.btn-primary{
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    background-color: #1085e4; 
    border:1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-primary:hover{
    background-color: #b1c3ee;
    color: #1085e4;
}
.btn-secondary{
    font-size: 12px;
    color: #7b8eae;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    background-color: #cbdbe8; 
    border:1px solid #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-secondary:hover{
    background-color: #fff; 
}
.btn-free{
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-info{
    color: #8085b1;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-info:hover{
    color: #fff;
    background-color: #94b4cc;
}
.btn-group a + a{
    margin-left: 15px;
}
.list-company{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}
.list-company-item{
    display: block;
}
.company-one{
    background-image: url(../img/logo1.png);
    flex-basis: 198px;
    height: 58px;
}
.company-two{
    background-image: url(../img/logo2.png);
    flex-basis: 200px;
    height: 69px;
}
.company-three{
    background-image: url(../img/logo3.png);
    flex-basis: 201px;
    height: 47px;
}
.company-four{
    background-image: url(../img/logo4.png);
    flex-basis: 200px;
    height: 69px;
}
.grid{
    display: grid;
    grid-template-areas: "a b c" "d b c" "d f g" "e f g" "e h h";
    max-width: 1110px;
    margin: 0 auto;
    grid-gap: 30px;
}
.grid-title{
    grid-area: a;
}
.grid-item-1{
    grid-area: b;
}
.grid-item-2{
    grid-area: c;
}
.grid-item-3{
    grid-area: d;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: f;
}
.grid-item-6{
    grid-area: g;
 }
.grid-text{
    grid-area: h;
}
.grid-item{
    text-align: center;
    box-shadow: 0 0 5px #f4f4f4;
}
.grid h2{
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}
.grid h2 span{
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item h3{
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
    letter-spacing: -0.6px;
}
.grid-item a{
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}
.grid-icon{
    display: block;
    margin: 0 auto 25px;
    background-repeat: no-repeat;
}
.grid-icon-1{
    background-image: url("../img/icon1.png");
    width: 79px;
    height: 82px;
}
.grid-icon-2{
    background-image: url("../img/icon2.png");
    width: 89px;
    height: 85px;
}
.grid-icon-3{
    background-image: url("../img/icon3.png");
    width: 79px;
    height: 79px;
}
.grid-icon-4{
    background-image: url("../img/icon4.png");
    width: 109px;
    height: 92px;
}
.grid-icon-5{
    background-image: url("../img/icon5.png");
    width: 85px;
    height: 90px;
}
.grid-icon-6{
    background-image: url("../img/icon6.png");
    width: 100px;
    height: 87px;
}
.page-subscribe-box{
    display: flex;
    justify-content: space-between;
}
.title-h2-light{
    color: #fff;
    line-height: 1.4;
    margin-bottom: 21px;
    margin-top: 60px;
}
.title-h2-light>span{
    font-size: 14px;
}
.page-subscribe-p{
    color: #dfe8ff;
    font-size: 18px;
    max-width: 410px;
    line-height: 1.5;
    margin-bottom: 38px;
}
.page-subscribe-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #3e59af;
    border-radius: 50px;
    padding: 8px 8px 8px 36px;
}
.page-subscribe-form input{
    color: #b1c3ee;
    font-size: 14px;
    background-color: transparent;
    border: none;
    margin-right: 122px;
}
.page-subscribe-form button{
    letter-spacing: 4px;
    padding: 16px 43px;
    cursor: pointer;
}
.list-stat{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}
.list-stat>li{
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}
.list-stat>li>span{
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}
.screen{
    margin-top: 36px;
    margin-bottom: -7px;
}
.box-price{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
}
.box-price-item{
    flex-basis: 32%;
    position: relative;
    background-color: #f5faff;
    padding: 89px 0 97px;
}
.box-price-img{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}
.box-price-item.active{
    background-color: #192b59;
    color: #fff;
}
.box-price-item ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 40px;
    font-size: 14px;
    margin-top: 29px;
    margin-bottom: 54px;
}
.box-price-item h3{
    font-size: 70px;
    letter-spacing: -2px;
    color: #000958;
    margin-top: 0;
    margin-bottom: 16px;
}
.box-price-item h3>span{
    font-size: 20px;
}
.box-price-item p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: #0084ff;
}
.box-price-item .btn-primary,
.box-price-item .btn-info{
    padding: 21px 61px;
}
.active h3,.active p{
    color: #fff;
}
/* PAGE */
.page-header{
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company{
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:106px 0 99px;
}
.page-stat,.page-screen{
    background-color: #edf6ff;
}
.page-plan,
.page-screen{
    text-align: center;
}
.page-screen{
    padding: 116px 0 0 0;
}
.page-stat{
    padding: 116px 0 96px 0;
}
.page-subscribe{
    background: #0A2090;
    background: -webkit-linear-gradient(top left, #0A2090, #2377CD);
    background: -moz-linear-gradient(top left, #0A2090, #2377CD);
    background: linear-gradient(to bottom right, #0A2090, #2377CD);
    padding: 52px;
}